html {

	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Droid Serif", Serif;
	font-size: 15px;
	background: rgba(0, 0, 0, .5);
}

/**FONTS**/
@font-face {
	font-family: Elegant;
	src: url('../fonts/elegant_white.ttf');
}

@font-face {
	font-family: Grunge;
	src: url('../fonts/grunge.ttf');
}

@font-face {
	font-family: Simple;
	src: url('../fonts/simple.ttf');
}

/**INDEX**/
.main_content {
	position: absolute;
	top: 5em;
	right: 5em;
	height: auto;
  max-width: 100%;
}

#main_names {
	font-family : Elegant;
	text-align: center;
	font-size: 100px;
}

#main_subject {
	font-family : Simple;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
	font-size: 75px;
}

#main_date {
	font-family : Grunge;
	text-align: center;
	font-size: 60px;
	padding-bottom: 1em;
}

/**LAYOUT**/
.demo-layout-transparent {
  background: url('../images/joe_nikki_main.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}


/**INDEX - WIDE CARD**/
.demo-card-wide-index.mdl-card {
	width: 512px;
}
.demo-card-wide-index > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../images/main_background.jpg') center / cover;
}

.demo-card-wide-index > .mdl-card__menu {
  color: #fff;
}

/**STORY - WIDE CARD**/
.demo-card-wide-story.mdl-card {
  width: 512px;
  padding: .5em;
}

.demo-card-wide-story > .mdl-card__title > h2 {
  color: #fff;
}

.demo-card-wide-story > .mdl-card__title {
  align-items: flex-start;
  height: 350px;
  background: url('../images/joe_nikki.jpg') center / cover;
}

.demo-card-wide-story > .mdl-card__menu {
  color: #000;
}


/**PROPOSAL - EVENT CARD**/
.demo-card-wide-proposal.mdl-card {
 max-width: 100%;
 width: 512px;
}

.demo-card-wide-proposal > .mdl-card__title > h2 {
  color: #fff;
}

.demo-card-wide-proposal > .mdl-card__title {
  align-items: flex-start;
  height: 350px;
}

.demo-card-wide-proposal > .mdl-card__menu {
  color: #000;
}

/**REGISTRIES - WIDE CARD**/
.demo-card-wide-reg.mdl-card {
  width: 512px;
}

.demo-card-wide-reg > .mdl-card__title > h2 {
  color: #fff;
}

.demo-card-wide-reg > .mdl-card__title {
  align-items: flex-start;
  height: 350px;
  background: url('../images/joe_nikki3.jpg') center / cover;
}

.demo-card-wide-reg > .mdl-card__menu {
  color: #000;
}

.circle {
	border-radius: 50%;
}

ul {
	list-style-type: none;
}

/* unvisited link */
a:link {
    color: ##f4ff81;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: ##f4ff81;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: ##f4ff81;
}

/* selected link */
a:active {
    color: ##f4ff81;
}